<section id="Students" class="spapp-section">
  <h2>Manage Students</h2>
  <p>Add, edit, delete Students and assign courses to them.</p>
  <div id="addStudent">
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addStudentModal">
      Add Student
    </button>
  </div>

  <div id="StudentList" class="mt-4">
    <table id="tbl_students" class="table">
      <thead>
        <tr>
          <th data-name="action">Actions</th>
          <th data-name="FirstName">First Name</th>
          <th data-name="LastName">Last Name</th>
          <th data-name="Email">Email</th>
          <th data-name="Password">Password</th>
        </tr>
      </thead>
    </table>
  </div>

  <div class="modal fade" id="addStudentModal" tabindex="-1" aria-labelledby="addStudentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form id="addStudentForm">
          <div class="modal-header">
            <h5 class="modal-title" id="addStudentModalLabel">Add New Student</h5>
          </div>

          <div class="modal-body">
            <input type="hidden" name="id" id="id" />

            <div class="mb-3">
              <label for="FirstName" class="form-label">First Name</label>
              <input type="text" class="form-control" name="FirstName" id="FirstName" placeholder="First Name" />
            </div>

            <div class="mb-3">
              <label for="LastName" class="form-label">Last Name</label>
              <input type="text" class="form-control" name="LastName" id="LastName" placeholder="Last Name" />
            </div>

            <div class="mb-3">
              <label for="Email" class="form-label">Email</label>
              <input type="email" class="form-control" name="Email" id="StudentEmail" placeholder="Email" />
            </div>

            <div class="mb-3">
              <label for="StudentPassword" class="form-label">Password</label>
              <input type="password" class="form-control" name="Password" id="StudentPassword" placeholder="Password" />
            </div>
          </div>

          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>

<script>
StudentService.reload_students_datatable();
FormValidation.validate("#addStudentForm", {}, function(data) {
  Utils.block_ui("#addStudentModal .modal-content");

  $.ajax({
    url: Constants.API_BASE_URL + "students/add",
    method: "POST",
    contentType: "application/json",
    data: JSON.stringify(data),
    success: function () {
    Utils.unblock_ui("#addStudentModal .modal-content");
    toastr.success("You have successfully added the Student.");

    setTimeout(() => {
      StudentService.reload_students_datatable();
    }, 500);

    const modal = bootstrap.Modal.getInstance(document.getElementById('addStudentModal'));
    modal.hide();
    document.getElementById("addStudentForm").reset();
    },
    error: function (xhr) {
      Utils.unblock_ui("#addStudentModal .modal-content");
      toastr.error("Error: " + xhr.responseText);
    }
  });
});
</script>  