<div class="d-flex justify-content-center align-items-center">
    <div class="form_deg">
        <div class="d-flex justify-content-center align-items-center">
            Login Form

            </h4>
        </div>
        
        <form action="#adminhome" method="POST" class="login_form">
            <div>
                <label class="label_deg">Username</label>
                <input type="text" name="username">
            </div>

            <div>
                <label class="label_deg">Password</label>
                <input type="Password" name="password">
            </div>

            <div>
                <input class="btn btn-primary" type="submit" name="submit" value="Login">
            </div>
        </form>
    </div>
</div>